:root {
  --bg: #fff;
  --bg-overlay: #fff;
  --neutral2: #eee;
  --neutral3: #ddd;
  --neutral4: #ccc;
  --text: #000;
  --textSub: #555;
  --textMuted: #777;
  --tickLine: #eee;
  --baseLine: #aaa;
  --crosshair: #999;
  --tickText: #999;
  --primary1: #9b59b6;
  --primary2: #c38bda;
  --font: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #18191a;
    --bg-overlay: #27292b;
    --neutral2: #27292b;
    --neutral3: #33363a;
    --neutral4: #474a4e;
    --text: #fff;
    --textSub: #777;
    --textMuted: #555;
    --tickLine: #27292b;
    --baseLine: #474a4e;
    --crosshair: #999;
    --tickText: #999;
    --primary1: #9b59b6;
    --primary2: #c38bda;
  }
}

body {
  font: 12px sans-serif;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font);
}
svg {
  overflow: visible;
}
* {
  box-sizing: border-box;
}
div {
  display: flex;
  flex-direction: column;
}

#viz {
  position: relative;
  margin-top: 20px;
}

#viz-map,
#svg-map {
  width: 100%;
  height: auto;
  min-height: 180px;
  max-height: 800px;
  /* border: 1px solid #ccc; */
}
#viz-map {
  position: relative;
  margin-top: 30px;
}
#svg-map {
  margin: 0 auto;
  max-width: 1600px;
}
@media (min-width: 768px) {
  #viz-map {
    margin-top: 0;
  }
}
#map-states {
  fill: var(--neutral2);
}

.map-state:hover {
  fill: orange;
}
#svg-map {
  overflow: hidden;
}

#tooltip {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 8px;
  background: var(--bg-overlay);
}

.state-label {
  pointer-events: none;
  text-anchor: middle;
  font-size: 0.5rem;
  text-shadow: 0 0 2px #fff;
  /* stroke: #404040;
  stroke-width: 0.07rem; */
  fill: #000;
  opacity: 0.9;
}
